.footer {
  display: flex;
  min-height: 112px;
  background-color: $color-default-black;
}

.footer__wrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 37px;
  padding-bottom: 41px;
}

.footer__copyright {
  span {
    font-size: 20px;
    line-height: 23px;
  }
}
