.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 112px;
  z-index: 10;
  background-color: $color-default-black;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 35px;
}